<!DOCTYPE>

<head>
    <script type="text/javascript" src="https://unpkg.com/vue/dist/vue.js"></script>
</head>

<body>
    <br>app3-test v-if顯示隱藏元素<br>
    <div id="app3" style="border:2px blue solid;">
        <p v-if="seen">Now you see me</p>
    </div>
    <script type="text/javascript">
        var app3 = new Vue({
            el: '#app3',
            data: {
                seen: true
            }
        });
    </script>

    <br>app4-test v-for迴圈顯示元素<br>
    <div id="app4" style="border:2px blue solid;">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>
    <script type="text/javascript">
        var app4 = new Vue({
            el: '#app4',
            data: {
                todos: [{
                    text: 'Learn JavaScript'
                }, {
                    text: 'Learn Vue'
                }, {
                    text: 'Build something awesome'
                }]
            }
        });
    </script>

    <br>app5-test v-on綁定事件<br>
    <div id="app5" style="border:2px blue solid;">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Reverse Message</button>
    </div>
    <script type="text/javascript">
        var app5 = new Vue({
            el: '#app5',
            data: {
                message: 'Hello Vue.js!'
            },
            methods: {
                reverseMessage: function() {
                    this.message = this.message.split('').reverse().join('')
                }
            }
        });
    </script>
</body>